<!-- daily information -->

    <h3>Daily Forecast</h3>
    <p><b>Summary：</b>{{jsonData.daily.summary}}
        <img class="img" ng-src="icon/{{jsonData.daily.icon}}.png"></p>
    <hr>
    <div ng-repeat="data in jsonData.daily.data" ng-class-even="'even-class'">
        <table>
            <tr>
                <th>Time:</th>
                <td> &nbsp{{data.time *1000|date:"fullDate"}}
                    <img class="img" ng-src="icon/{{data.icon}}.png"></td>
            </tr>
            <tr>
                <th>Summary：</th>
                <td> &nbsp{{data.summary}}</td>
            </tr>
            <tr>
                <th>Sunrise Time：</th>
                <td> &nbsp{{data.sunriseTime*1000|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Sunset Time：</th>
                <td> &nbsp{{data.sunsetTime*1000|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Moon Phase：</th>
                <td> &nbsp{{data.moonPhase}}</td>
            </tr>
            <tr>
                <th>Precip Intensity:</th>
                <td> &nbsp{{data.precipIntensity}}</td>
            </tr>
            <tr>
                <th>Precip IntensityMax：</th>
                <td> &nbsp{{data.precipIntensityMax}}</td>
            </tr>
            <tr>
                <th>Precip IntensityMaxTime：</th>
                <td> &nbsp{{data.precipIntensityMaxTime*1000||"Unknown"|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Precip Probability:</th>
                <td> &nbsp{{data.precipProbability}}</td>
            </tr>
            <tr>
                <th>Temperature Minimum:</th>
                <td> &nbsp{{data.temperatureMin}}</td>
            </tr>
            <tr>
                <th>Temperature Minimium Time:</th>
                <td> &nbsp{{data.temperatureMinTime*1000|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Temperature Maximum:</th>
                <td> &nbsp{{data.temperatureMax}}</td>
            </tr>
            <tr>
                <th>Temperature Maximum Time:</th>
                <td> &nbsp{{data.temperatureMaxTime*1000|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Apparent Temperature Minimum:</th>
                <td> &nbsp{{data.apparentTemperatureMin}}</td>
            </tr>
            <tr>
                <th>Apparent Temperature Minimum Time:</th>
                <td> &nbsp{{data.apparentTemperatureMinTime*1000|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Apparent Temperature Maximum:</th>
                <td> &nbsp{{data.apparentTemperatureMax}}</td>
            </tr>
            <tr>
                <th>Apparent Temperature Maximum Time:</th>
                <td> &nbsp{{data.apparentTemperatureMaxTime*1000|date:"hh:mm:ss a"}}</td>
            </tr>
            <tr>
                <th>Dew Point:</th>
                <td> &nbsp{{data.dewPoint}}</td>
            </tr>
            <tr>
                <th>Humidity:</th>
                <td> &nbsp{{data.humidity}}</td>
            </tr>
            <tr>
                <th>Wind Speed:</th>
                <td> &nbsp{{data.windSpeed}}</td>
            </tr>
            <tr>
                <th>Wind Bearing:</th>
                <td> &nbsp{{data.windBearing}}</td>
            </tr>
            <tr>
                <th>Visibility:</th>
                <td> &nbsp{{data.visibility || "Unknown"}}</td>
            </tr>
            <tr>
                <th>Cloud Cover:</th>
                <td> &nbsp{{data.cloudCover}}</td>
            </tr>
            <tr>
                <th>Pressure:</th>
                <td> &nbsp{{data.pressure}}</td>
            </tr>
            <tr>
                <th>Ozone:</th>
                <td> &nbsp{{data.ozone}}</td>
            </tr>
        </table>
        <br>
    </div>
