<nav class="navbar navbar-danger " role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand jd-title" ui-sref="currently">Weather Report</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="state in states" ng-click="makeActive(state.name)"  ng-class="{active:activeState === state.name}"><a class='white-background' ui-sref="weather({dataType:state.name,folder:'partial'})"> {{state.label}}</a></li>
                <!--<li ng-repeat="state in states" ng-click="makeActive(state.name)"  ng-class="{active:activeState === state.name}"><a ui-sref="weather({dataType:state.name})" ng-bind-html="state.label"></a></li>-->

                <!--<li ng-click="makeActive('currently')" ng-class="{active:activeTab==='currently'}"><a ui-sref="currently">Currently</a></li>
                <li ng-click="makeActive('minutely')"ng-class="{active:activeTab === 'minutely'}"><a ui-sref="minutely">Minutely</a></li>
                <li ng-click="makeActive('hourly')" ng-class="{active:activeTab === 'hourly'}"><a ui-sref="hourly">Hourly</a></li>
                <li ng-click="makeActive('daily')" ng-class="{active:activeTab === 'daily'}"><a ui-sref="daily">Daily</a></li>-->

            </ul>
        </div>
    </div>
</nav>