<!-- currently information -->

    <h3>{{jsonData.currently.time *1000|date:"medium"}}</h3>
    <p><b>Summary：</b>{{jsonData.currently.summary}}
        <img class="img" ng-src="images/{{jsonData.currently.icon}}.png"></p>
    <hr>
    <table>
        <tr>
            <th>Nearest Storm Distance:</th>
            <td>{{jsonData.currently.nearestStormDistance}}</td>
        </tr>
        <tr>
            <th>Nearest Storm Bearing:</th>
            <td> {{jsonData.currently.nearestStormBearing}}</td>
        </tr>
        <tr>
            <th>Precip Intensity:</th>
            <td>{{jsonData.currently.precipIntensity}}</td>
        </tr>
        <tr>
            <th>Precip Probability:</th>
            <td> {{jsonData.currently.precipProbability}}</td>
        </tr>
        <tr>
            <th>Temperature:</th>
            <td> {{jsonData.currently.temperature}}</td>
        </tr>
        <tr>
            <th>Apparent Temperature:</th>
            <td> {{jsonData.currently.apparentTemperature}}</td>
        </tr>
        <tr>
            <th>Dew Point:</th>
            <td> {{jsonData.currently.dewPoint}}</td>
        </tr>
        <tr>
            <th>Humidity:</th>
            <td> {{jsonData.currently.humidity}}</td>
        </tr>
        <tr>
            <th>Wind Speed:</th>
            <td> {{jsonData.currently.windSpeed}}</td>
        </tr>
        <tr>
            <th>Wind Bearing:</th>
            <td> {{jsonData.currently.windBearing}}</td>
        </tr>
        <tr>
            <th>Visibility:</th>
            <td> {{jsonData.currently.visibility}}</td>
        </tr>
        <tr>
            <th>CloudCover:</th>
            <td> {{jsonData.currently.cloudCover}}</td>
        </tr>
        <tr>
            <th>Pressure:</th>
            <td> {{jsonData.currently.pressure}}</td>
        </tr>
        <tr>
            <th>Ozone:</th>
            <td> {{jsonData.currently.ozone}}</td>
        </tr>
    </table>
