body {

    padding: 20px;
}
#home .content{
    margin-top:60px;
}
.navbar.jd-nav-fixed{
    padding:0 30px;
    color:#ffffff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-toggle.jd-button{
    border-color:#48c3fa;
}
.icon-bar{
    background-color: #48c3fa ;
}
.navbar-brand.jd-title{
    font-size: 30px;
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
    color: #797979;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #888888;
}

.navbar li:hover a.jd-background {
   background-color: #d8f3ff;
    border-radius: 10px;
}

.active {
    background-color: #48c3fa;
}
.active a{
    color: #ffffff;
}

#mainView {
    padding: 20px;
    border-radius: 10px;
    word-wrap: break-word;
}

#mapView {
    position: relative;
    top: 160px;
    min-height: 300px;
    border-radius: 10px;
    margin-right: 20px;

}

.img {
    max-width: 50px;
    max-height: 50px
}

.even-class {
    background-color: #f7f7f7;
}

tr th {
    padding-right: 5px;
    white-space: nowrap;
}

th, td{
    vertical-align: top;
}